@import 'dropdown.var';


:host {
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  overflow: hidden;
  position: absolute;
  padding: var(--padding);
  border-radius: var(--border-radius);
  right: auto;
  box-sizing: border-box;
  font-size: var(--font-size);
  z-index: 100000;
  display: none;
  pointer-events: none;
  *{
    pointer-events: none;

  }
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  transform-origin: top center;
  opacity: 0;
  transform: scale(0.95);
}
:host([is-open]) {
  pointer-events: all;
  * {
    pointer-events: all;

  }
}
