
eui-row {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

//.bodyText{
//  @media (min-width: 768px) {
//    font-size: $fz1;
//    line-height: $lh1s;
//    &.small-lh {
//      line-height: $lh1s;
//    }
//    &.medium-lh {
//      line-height: $lh1m;
//    }
//    &.large-lh {
//      line-height: $lh1l;
//    }
//  }
//}
