
/* The container */
.container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
