html {
  --white: 255, 255, 255;       // #FFFFFF;
  --black: 0, 0, 0;             // #000000;
  --blue-1: 245, 251, 255;      // #F5FBFF;
  --blue-2: 214, 236, 255;      // #D6ECFF;
  --blue-3: 164, 205, 254;      // #A4CDFE;
  --blue-4: 125, 173, 248;      // #7DADF8;
  --blue-5: 108, 142, 239;      // #6C8EEF;
  --blue-6: 85, 108, 214;       // #556CD6;
  --blue-7: 61, 78, 172;        // #3D4EAC;
  --blue-8: 47, 61, 137;        // #2F3D89;
  --blue-9: 33, 45, 99;         // #212D63;
  --blue-10: 19, 31, 65;        // #131F41;
  --cyan-1: 237, 253, 253;      // #EDFDFD;
  --cyan-2: 196, 241, 249;      // #C4F1F9;
  --cyan-3: 127, 211, 237;      // #7FD3ED;
  --cyan-4: 77, 183, 232;       // #4DB7E8;
  --cyan-5: 58, 151, 212;       // #3A97D4;
  --cyan-6: 6, 122, 184;        // #067AB8;
  --cyan-7: 7, 89, 150;         // #075996;
  --cyan-8: 6, 69, 122;         // #06457A;
  --cyan-9: 9, 51, 83;          // #093353;
  --cyan-10: 4, 34, 53;         // #042235;
  --gray-1: 247, 250, 252;      // #F7FAFC;
  --gray-2: 227, 232, 238;      // #E3E8EE;
  --gray-3: 193, 201, 210;      // #C1C9D2;
  --gray-4: 163, 172, 185;      // #A3ACB9;
  --gray-5: 135, 146, 162;      // #8792A2;
  --gray-6: 105, 115, 134;      // #697386;
  --gray-7: 79, 86, 107;        // #4F566B;
  --gray-8: 60, 66, 87;         // #3C4257;
  --gray-9: 42, 47, 69;         // #2A2F45;
  --gray-10: 26, 31, 54;        // #1A1F36;
  --green-1: 239, 255, 237;     // #EFFFED;
  --green-2: 203, 244, 201;     // #CBF4C9;
  --green-3: 133, 217, 150;     // #85D996;
  --green-4: 51, 194, 127;      // #33C27F;
  --green-5: 30, 166, 114;      // #1EA672;
  --green-6: 9, 130, 93;        // #09825D;
  --green-7: 14, 98, 69;        // #0E6245;
  --green-8: 13, 75, 59;        // #0D4B3B;
  --green-9: 11, 55, 51;        // #0B3733;
  --green-10: 8, 36, 41;        // #082429;
  --orange-1: 255, 250, 238;    // #FFFAEE;
  --orange-2: 254, 227, 192;    // #FEE3C0;
  --orange-3: 248, 184, 134;    // #F8B886;
  --orange-4: 245, 146, 94;     // #F5925E;
  --orange-5: 229, 111, 74;     // #E56F4A;
  --orange-6: 196, 76, 52;      // #C44C34;
  --orange-7: 158, 47, 40;      // #9E2F28;
  --orange-8: 126, 30, 35;      // #7E1E23;
  --orange-9: 93, 22, 27;       // #5D161B;
  --orange-10: 66, 14, 17;      // #420E11;
  --purple-1: 255, 248, 254;    // #FFF8FE;
  --purple-2: 252, 224, 246;    // #FCE0F6;
  --purple-3: 240, 180, 228;    // #F0B4E4;
  --purple-4: 226, 141, 220;    // #E28DDC;
  --purple-5: 201, 110, 208;    // #C96ED0;
  --purple-6: 164, 80, 181;     // #A450B5;
  --purple-7: 123, 57, 151;     // #7B3997;
  --purple-8: 91, 43, 128;      // #5B2B80;
  --purple-9: 64, 29, 106;      // #401D6A;
  --purple-10: 45, 15, 85;      // #2D0F55;
  --red-1: 255, 248, 245;       // #FFF8F5;
  --red-2: 253, 226, 221;       // #FDE2DD;
  --red-3: 251, 181, 178;       // #FBB5B2;
  --red-4: 250, 131, 137;       // #FA8389;
  --red-5: 237, 95, 116;        // #ED5F74;
  --red-6: 205, 61, 100;        // #CD3D64;
  --red-7: 164, 28, 78;         // #A41C4E;
  --red-8: 128, 20, 63;         // #80143F;
  --red-9: 94, 16, 57;          // #5E1039;
  --red-10: 66, 8, 40;          // #420828;
  --violet-1: 248, 249, 254;    // #F8F9FE;
  --violet-2: 230, 230, 252;    // #E6E6FC;
  --violet-3: 199, 194, 234;    // #C7C2EA;
  --violet-4: 176, 161, 225;    // #B0A1E1;
  --violet-5: 156, 130, 219;    // #9C82DB;
  --violet-6: 130, 96, 195;     // #8260C3;
  --violet-7: 97, 70, 155;      // #61469B;
  --violet-8: 75, 52, 128;      // #4B3480;
  --violet-9: 53, 36, 101;      // #352465;
  --violet-10: 31, 24, 78;      // #1F184E;
  --yellow-1: 252, 249, 233;    // #FCF9E9;
  --yellow-2: 248, 229, 185;    // #F8E5B9;
  --yellow-3: 239, 192, 120;    // #EFC078;
  --yellow-4: 229, 153, 62;     // #E5993E;
  --yellow-5: 217, 121, 23;     // #D97917;
  --yellow-6: 187, 85, 4;       // #BB5504;
  --yellow-7: 152, 55, 5;       // #983705;
  --yellow-8: 118, 43, 11;      // #762B0B;
  --yellow-9: 87, 31, 13;       // #571F0D;
  --yellow-10: 58, 22, 7;       // #3A1607;

  --white-color: rgb(var(--white));
  --black-color: rgb(var(--black));
  --blue-1-color: rgb(var(--blue-1));
  --blue-2-color: rgb(var(--blue-2));
  --blue-3-color: rgb(var(--blue-3));
  --blue-4-color: rgb(var(--blue-4));
  --blue-5-color: rgb(var(--blue-5));
  --blue-6-color: rgb(var(--blue-6));
  --blue-7-color: rgb(var(--blue-7));
  --blue-8-color: rgb(var(--blue-8));
  --blue-9-color: rgb(var(--blue-9));
  --blue-10-color: rgb(var(--blue-10));
  --cyan-1-color: rgb(var(--cyan-1));
  --cyan-2-color: rgb(var(--cyan-2));
  --cyan-3-color: rgb(var(--cyan-3));
  --cyan-4-color: rgb(var(--cyan-4));
  --cyan-5-color: rgb(var(--cyan-5));
  --cyan-6-color: rgb(var(--cyan-6));
  --cyan-7-color: rgb(var(--cyan-7));
  --cyan-8-color: rgb(var(--cyan-8));
  --cyan-9-color: rgb(var(--cyan-9));
  --cyan-10-color: rgb(var(--cyan-10));
  --gray-1-color: rgb(var(--gray-1));
  --gray-2-color: rgb(var(--gray-2));
  --gray-3-color: rgb(var(--gray-3));
  --gray-4-color: rgb(var(--gray-4));
  --gray-5-color: rgb(var(--gray-5));
  --gray-6-color: rgb(var(--gray-6));
  --gray-7-color: rgb(var(--gray-7));
  --gray-8-color: rgb(var(--gray-8));
  --gray-9-color: rgb(var(--gray-9));
  --gray-10-color: rgb(var(--gray-10));
  --green-1-color: rgb(var(--green-1));
  --green-2-color: rgb(var(--green-2));
  --green-3-color: rgb(var(--green-3));
  --green-4-color: rgb(var(--green-4));
  --green-5-color: rgb(var(--green-5));
  --green-6-color: rgb(var(--green-6));
  --green-7-color: rgb(var(--green-7));
  --green-8-color: rgb(var(--green-8));
  --green-9-color: rgb(var(--green-9));
  --green-10-color: rgb(var(--green-10));
  --orange-1-color: rgb(var(--orange-1));
  --orange-2-color: rgb(var(--orange-2));
  --orange-3-color: rgb(var(--orange-3));
  --orange-4-color: rgb(var(--orange-4));
  --orange-5-color: rgb(var(--orange-5));
  --orange-6-color: rgb(var(--orange-6));
  --orange-7-color: rgb(var(--orange-7));
  --orange-8-color: rgb(var(--orange-8));
  --orange-9-color: rgb(var(--orange-9));
  --orange-10-color: rgb(var(--orange-10));
  --purple-1-color: rgb(var(--purple-1));
  --purple-2-color: rgb(var(--purple-2));
  --purple-3-color: rgb(var(--purple-3));
  --purple-4-color: rgb(var(--purple-4));
  --purple-5-color: rgb(var(--purple-5));
  --purple-6-color: rgb(var(--purple-6));
  --purple-7-color: rgb(var(--purple-7));
  --purple-8-color: rgb(var(--purple-8));
  --purple-9-color: rgb(var(--purple-9));
  --purple-10-color: rgb(var(--purple-10));
  --red-1-color: rgb(var(--red-1));
  --red-2-color: rgb(var(--red-2));
  --red-3-color: rgb(var(--red-3));
  --red-4-color: rgb(var(--red-4));
  --red-5-color: rgb(var(--red-5));
  --red-6-color: rgb(var(--red-6));
  --red-7-color: rgb(var(--red-7));
  --red-8-color: rgb(var(--red-8));
  --red-9-color: rgb(var(--red-9));
  --red-10-color: rgb(var(--red-10));
  --violet-1-color: rgb(var(--violet-1));
  --violet-2-color: rgb(var(--violet-2));
  --violet-3-color: rgb(var(--violet-3));
  --violet-4-color: rgb(var(--violet-4));
  --violet-5-color: rgb(var(--violet-5));
  --violet-6-color: rgb(var(--violet-6));
  --violet-7-color: rgb(var(--violet-7));
  --violet-8-color: rgb(var(--violet-8));
  --violet-9-color: rgb(var(--violet-9));
  --violet-10-color: rgb(var(--violet-10));
  --yellow-1-color: rgb(var(--yellow-1));
  --yellow-2-color: rgb(var(--yellow-2));
  --yellow-3-color: rgb(var(--yellow-3));
  --yellow-4-color: rgb(var(--yellow-4));
  --yellow-5-color: rgb(var(--yellow-5));
  --yellow-6-color: rgb(var(--yellow-6));
  --yellow-7-color: rgb(var(--yellow-7));
  --yellow-8-color: rgb(var(--yellow-8));
  --yellow-9-color: rgb(var(--yellow-9));
  --yellow-10-color: rgb(var(--yellow-10));
}
