@import "select-dropdown-content.vars";
:host {
  .action-sheet-container {
    display: flex;

    flex-flow: column;
    justify-content: flex-end;

    height: 100%;
    max-height: var(--max-height);
    overflow-y: auto;
  }

  .action-sheet-group {
    flex-shrink: 2;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: all;
  }

  .action-sheet-group::-webkit-scrollbar {
    display: none;
  }

  .action-sheet-group-cancel {
    flex-shrink: 0;

    overflow: hidden;
  }

  eui-loading-spinner {
    display: block;
    width: var(--loader-size);
    height: var(--loader-size);
    margin: auto;
    position: relative;
  }
}
