:host {
  --background-color: var(--drawer-background-color);
  --overlay-background-color: var(--drawer-overlay-background-color);

  --main-padding: var(--drawer-main-padding);
  --squish-padding: var(--drawer-squish-padding);
  --side-width: var(--drawer-side-width);

}
