@import 'menu-panel.vars';


.header{

  padding: var(--padding);
  height: var(--height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .header-left {
    align-items: center;
    display: flex;
    *:not(:first-child) {
      margin-left: var(--left-margin);
      display: inline-block;
    }
  }
  .header-right {
    justify-self: flex-end;
    margin-left: auto;
  }
  .title {
    font-size: var(--title-font-size);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color);
  }
}
