

:host {
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: var(--position);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  min-height: var(--min-height);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}
:host(.top) {
  flex-direction: row;
  bottom: auto;
  .app-bar-content{
    flex-direction: row;
    height: 100%;
  }
}
:host(.top.has-center) {
  .app-bar-content{
    &.start, &.end {
      width: var(--left-right-width);
    }
    &.center {
      width: var(--center-width);
    }
  }
}
:host(.bottom) {
  flex-direction: row;
  top: auto;
  .app-bar-content {
    flex-direction: row;
    height: 100%;
  }
}

:host(.bottom.has-center) {
  .app-bar-content{
    &.start, &.end {
      width: var(--left-right-width);
    }
    &.center {
      width: var(--center-width);
    }
  }
}
